<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.habit">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".NewsActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit">
        <intent-filter>
            <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmAppointmentsActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MessageActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctoreHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".AppointmentActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".SignupDoctorActivity"
            android:exported="false"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".LoginDcotorActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".SelfCareHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".SelfCareQuizActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".LoginOnboardingActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Habit" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>